<ion-header>
  <ion-navbar>
    <ion-title>Partidas</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <ion-list *ngFor="let partida of lista | async "  >
   <div *ngIf="partida.jogador1 != null && partida.jogador2 != null">
     <ion-item *ngIf="partida.ganhador == partida.jogador1">
       <h2>{{partida.jogador1nome}} <ion-icon color="danger" name="trophy"></ion-icon></h2>
       <p>{{partida.jogador2nome}} <ion-icon name="sad"></ion-icon></p>
     </ion-item>
     <ion-item  *ngIf="partida.ganhador == partida.jogador2" >
       <h2>{{partida.jogador2nome}} <ion-icon color="danger" name="trophy"></ion-icon></h2>
       <p>{{partida.jogador1nome}} <ion-icon name="sad"></ion-icon></p>
     </ion-item>
  </div>
  </ion-list>
</ion-content>
