<ion-header>
  <ion-navbar>
    <ion-title>Partidas</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <ion-list *ngFor="let partida of lista | async "  >
   <div>
     <ion-item *ngIf="partida.ganhador == partida.jogador1">
       <h2>{{partida.jogador1nome}} (ganhador)</h2>
       <p>{{partida.jogador2nome}}</p>
     </ion-item>
     <ion-item  *ngIf="partida.ganhador == partida.jogador2" >
       <h2>{{partida.jogador2nome}} (ganhador)</h2>
       <p>{{partida.jogador1nome}}</p>
     </ion-item>
  </div>
  </ion-list>
</ion-content>
