page-listar-familias{
    ion-page{
       background-image: url('../../assets/imgs/folhaFundo.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
  ion-page > ion-content{
    background-color: transparent;
  }
}
